<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(245, 245, 235) ; ">
    
    <img src="assets/log.png" class="logo">


    <nav>
        <ul>

            <li>
                <a [routerLink]="['/menu']"> HOME</a>
                
                
            </li>
            <li class="icons">
            
                    <a [routerLink]="['/sign-in']">
                    
                    <i style="color: black;" class="fas fa-user" (click)="Afficher()" id="login-btn" ></i> </a>
                
                <a  class="nav-item logo"  (click)="Afficher()">LOG IN</a>
            </li>
            <li>
               
                
                <a [routerLink]="['/sign-up']"  class="nav-item logo"  (click)="Afficher2()">REGISTER</a>           
             </li>
            <li>
                <a href="#">ABOUT-US</a>
            </li>
            
        </ul>

    </nav>



</nav>