.navbar{
    height: 100px;
    display: flex;
    align-items: center;

}
.logo{
    width: 180px;
    height: 150px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
    /*height: 10px;*/
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 150px
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
