<div class="container-fluid" >
   
    <div class="row">
        <div class="col">
            <h1> Wedding Planner</h1>
            <p>Ticks one thing off list ! Takes rest of day off</p>


            <button type="button" class="btn btn-dark" [routerLink]="['/list-partenaires']">DECOUVREZ PLUS</button>           

        </div>
<!--
        <div class="col">
            <div class="card card1">
                <h5>Meilleurs services
                </h5>
                <p></p>

            </div>
            <div class="card card2">
                <h5>Meilleurs prix</h5>
                <p></p>

            </div>
           
           
-->
        </div>
</div>
